
<label for="dropzone-file"
	class="flex flex-col items-center justify-center w-96 h-48 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100"
	(dragover)="onDragOver($event)"
	(drop)="onDrop($event)"
	(dragleave)="onDragLeave($event)"
>
	<div class="flex flex-col items-center justify-center pt-5 pb-6">
		<span class="material-icons text-gray-500 pb-5">image</span>
		<p class="mb-2 text-sm text-gray-500">
			<span class="font-semibold">Click to upload</span> or drag and drop
		</p>
		<p class="text-xs text-gray-500">PNG, JPG or JPEG </p>
		<p class="text-xs text-gray-500">The maximum file size is <span class="font-semibold"> {{ maximumFileSizeInKb() / 1024 | number: '1.0-0' }} MB</span></p>
	</div>
	<input id="dropzone-file" type="file" class="hidden" [multiple]="maximumFilesToUpload() > 1" (change)="onFileSelected($event)" />
</label>
