<nav class="bg-black text-center pr-10 text-white cursor-pointer">
	Back to examples
	<span class="material-icons">keyboard_double_arrow_up</span>
</nav>

<div class="text-center py-40 px-4 sm:px-6 lg:px-8">
	<h1 class="block text-2xl font-bold sm:text-4xl">Effectograph</h1>
	<p class="mt-3 text-lg text-gray-300 dark:text-neutral-500">Simple Image Effects Made Easy</p>
	<div class="mt-5 flex flex-col justify-center items-center gap-2 sm:flex-row sm:gap-3 ">
		<app-image-upload></app-image-upload>
	</div>
	
</div>
