<div class="flex flex-col" [ngClass]="{'opacity-50 pointer-events-none': doDisableMenu}">
	@for (group of menuGroups; track group; let groupIdx = $index) {
		<div (mousedown)="openMenu(groupIdx)" class="border-b p-4 flex items-center cursor-pointer hover:border-gray-800"
			[ngClass]="{
				'border-gray-300': groupIdx !== currentOpenGroupIdx, 
				'border-gray-500': groupIdx === currentOpenGroupIdx
			}"
		>
			<button class="mr-4" [disabled]="doDisableMenu">
				<span class="mt-2 transform transition-transform duration-600 material-icons text-gray-500"
					[ngClass]="{'rotate-90': groupIdx === currentOpenGroupIdx}"
				>
					arrow_right
				</span>
			</button>
			<span>{{group.title}}</span>
			<span></span>
		</div>

		@if (groupIdx === currentOpenGroupIdx) {
			<div class="p-4 ml-4" [ngClass]="{'lg:h-80': groupIdx !== group.items.length}">
				@for (groupItem of group.items; track groupItem; let itemIdx = $index) {
					<div class="mt-1" (mousedown)="selectGroupItem(group.title, groupItem.title, groupIdx, itemIdx)">
						<span class="capitalize cursor-pointer hover:border-b-2 border-gray-800" 
							[ngClass]="{ 'font-bold': isCurrentItemActive(groupIdx, itemIdx) }">
							{{groupItem.title}}
						</span>
					</div>
				}
			</div>
		}
	}
</div>
